.form-container{
    /* background-color: transparent !important; */
    border-radius: 20px;
    backdrop-filter: blur(5px);
    /* box-shadow: 4px 4px 4px 12px white !important; */
    
}



.lock {
    position: absolute;
    top: -25px; /* Moves the icon up outside the container */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .lock-icon {
    font-size: 40px;
    color: #198754; /* Green color to match the button */
    padding: 10px;
    border-radius: 50px;
    border: 1px solid blue;
   background-color: black;
   
   box-shadow: 4px 5px 12px 2px black;
  }
  
